aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1689804987990/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1667935791922/work
anyio==4.0.0
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1691763562544/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1683424013410/work
backoff==2.2.1
bcrypt==4.0.1
beautifulsoup4==4.12.2
brotlipy @ file:///home/conda/feedstock_root/build_artifacts/brotlipy_1666764686339/work
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1688227447901/work
certifi==2023.7.22
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1671179355965/work
chardet==5.2.0
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1688813409104/work
chroma-hnswlib==0.7.2
chromadb==0.4.8
click @ file:///home/conda/feedstock_root/build_artifacts/click_1692311806742/work
coloredlogs==15.0.1
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography-split_1691444189346/work
dataclasses-json @ file:///home/conda/feedstock_root/build_artifacts/dataclasses-json_1648489389285/work
emoji==2.8.0
fastapi==0.99.1
filetype==1.2.0
flatbuffers==23.5.26
frozenlist @ file:///home/conda/feedstock_root/build_artifacts/frozenlist_1689244381664/work
google-api-core @ file:///home/conda/feedstock_root/build_artifacts/google-api-core-split_1686812029898/work
google-auth @ file:///home/conda/feedstock_root/build_artifacts/google-auth_1689110070807/work
googleapis-common-protos @ file:///home/conda/feedstock_root/build_artifacts/googleapis-common-protos-feedstock_1690830130005/work
greenlet @ file:///home/conda/feedstock_root/build_artifacts/greenlet_1684082930824/work
h11==0.14.0
httptools==0.6.0
humanfriendly==10.0
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
importlib-resources==6.0.1
joblib==1.3.2
langchain @ file:///home/conda/feedstock_root/build_artifacts/langchain_1693419785518/work
langsmith @ file:///home/conda/feedstock_root/build_artifacts/langsmith_1693246811482/work
lxml==4.9.3
marshmallow @ file:///home/conda/feedstock_root/build_artifacts/marshmallow_1689924608696/work
marshmallow-enum @ file:///home/conda/feedstock_root/build_artifacts/marshmallow-enum_1602427317752/work
monotonic==1.6
mpmath==1.3.0
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1672339405744/work
mypy-extensions @ file:///home/conda/feedstock_root/build_artifacts/mypy_extensions_1675543315189/work
nltk==3.8.1
numexpr @ file:///home/conda/feedstock_root/build_artifacts/numexpr_1689950413703/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1691056235090/work
onnxruntime==1.15.1
openai==0.27.10
openapi-schema-pydantic @ file:///home/conda/feedstock_root/build_artifacts/openapi-schema-pydantic_1681130872959/work
overrides==7.4.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1681337016113/work
posthog==3.0.2
protobuf==4.23.4
pulsar-client==3.3.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1690476222394/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1685514481738/work
PyPika==0.48.9
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-dateutil==2.8.2
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/python-dotenv_1677227146928/work
python-magic==0.4.27
pyu2f @ file:///home/conda/feedstock_root/build_artifacts/pyu2f_1604248910016/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1692737134679/work
regex==2023.8.8
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1658328885051/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sniffio==1.3.0
soupsieve==2.4.1
SQLAlchemy @ file:///home/conda/feedstock_root/build_artifacts/sqlalchemy_1692201840753/work
starlette==0.27.0
stringcase==1.2.0
sympy==1.12
tabulate==0.9.0
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1692026804430/work
tiktoken==0.4.0
tokenizers==0.13.3
tqdm==4.66.1
typing-inspect @ file:///home/conda/feedstock_root/build_artifacts/typing_inspect_1685820062773/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1688315532570/work
unstructured==0.10.9
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1678635778344/work
uvicorn==0.23.2
uvloop==0.17.0
watchfiles==0.20.0
websockets==11.0.3
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1685191769397/work
